<% var display_index = (typeof index != "undefined" && index); %>

<div class="article">
    <% if(display_index) { %>
        <h2 class="article__title"><%- post.title %></h2>
        
        <p class="article__abstract"><%- post.excerpt %></p>
        <p class="article__more"><a class="article__more__link" href="<%= url_for(post.path) %>">Lire plus</a></p>
    <% } else { %>
        <div class="article__content">
            <%- post.content %>
        </div>
    <% } %>
</div>
