<footer class="footer">
	<nav class="footer__nav nav nav--mobilevertical">
		<ul class="nav__container">
			<li class="nav__container__item">
				<a href="<%= url_for('legal.html') %>">Mentions Légales</a>
			</li>

			<li class="nav__container__separator">💠</li>

			<li class="nav__container__item">
				<a rel="me" href="https://cybre.space/@talone">Mastodon</a>
			</li>

			<li class="nav__container__separator">💠</li>

			<li class="nav__container__item">
				<a href="https://framagit.org/TAlone/box-phone">Dépôt Git</a>
			</li>
		</ul>
	</nav>
</footer>
