<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">

	<% var title = page.title; %>
	<% var desc = strip_html(page.excerpt); %>

	<% if(!desc) { %>
	<% desc = config.description %>
	<% } %>

	<title>
		<% if(title) { %>
			<%= title %> – 
		<% } %>

		<%= config.title %>

		<% if(!title) { %>
				– <%= config.subtitle %>
		<% } %>
	</title>

	<meta name="description" content="<%= desc %>">

	<meta name="robots" content="index,follow"> <!-- All Search Engines -->
	<meta name="googlebot" content="index,follow"> <!-- Google Specific -->

	<meta name="google" content="notranslate">

	<% if(theme.rss) { %>
		<link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
	<% } %>

	<% if(theme.favicon) { %>
		<link rel="icon" href="<%- url_for(theme.favicon) %>">
	<% } %>

	<%- css('css/playfair/stylesheet') %>
	<%- css('css/style') %>
	<%- css('katex/katex.min') %>
	<%- css('css/vs2015') %>
</head>
