<% var display_index = (typeof main != "undefined" && main); %>
<% if(display_index) { %>
	<div class="[ header header--main ]">
<% } else { %>
	<div class="header">
<% } %>
	<nav class="header__nav">
		<% if(display_index) { %>
			<div>
		<% } else { %>
			<div class="header__nav__left">
		<% } %>
			<h1 class="header__title">
				<a href="<%= url_for('index.html') %>"><%= config.title %></a>
			</h1>
		<% if(display_index) { %>
			<p class="header__desc"><%= config.description %></p>
		<% } %>
		</div>

		<% if(display_index) { %>
			<div class="nav nav--mobilescroll">
		<% } else { %>
			<div class="header__nav__right nav">
		<% } %>
			<ul class="nav__container">
				<li class="nav__container__item">
					<a href="<%= url_for('/') %>" class="nav__container__item__link">Accueil</a>
				</li>

				<li class="nav__container__item">
					<a href="<%= url_for('categories/internet/') %>" class="nav__container__item__link">Numérique</a>
				</li>

				<li class="nav__container__item">
					<a href="<%= url_for('categories/droit/') %>" class="nav__container__item__link">Juridique</a>
				</li>

				<li class="nav__container__item">
					<a href="<%= url_for('categories/electronique/') %>" class="nav__container__item__link">Électronique</a>
				</li>
			</ul>
		</div>
	</nav>

	<% if(typeof post != "undefined") { %>
		<header class="header__article">
			<h2 class="header__article__title"><%= post.title %></h2>
			
			<p>Par <strong class="header__article__author"><%= post.author %></strong> le <time class="header__article__date" datetime="<%= date_xml(post.date) %>"><%= date(post.date, config.date_format) %></time>.</p>
		</header>
	<% } %>
</div>