@font-face {
    font-family: 'Playfair Display';
    src: url('subset-PlayfairDisplay-Italic.woff') format('woff'),
        url('subset-PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('subset-PlayfairDisplay-Black.woff') format('woff'),
        url('subset-PlayfairDisplay-Black.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('subset-PlayfairDisplay-Regular.woff') format('woff'),
        url('subset-PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

