/***************************************/
/**************** RESET ****************/
/***************************************/

/* Set the correspondance 1rem = 10px for standard displays */
html {
	font-size: 62.5%;
}

/*
 * 1. Reset default body margin
 * 2. Reset the font-size which was erased in the html
 * 3. Allow absolute positionning inside the body
 * 4. Set the global grey background
 * 5. Reset the fonts
 */
body {
	margin: 0; /* 1 */
	font-size: 1.6rem; /* 2 */
	position: relative; /* 3 */
	background-color: #F0EAEA; /* 4 */
	font-family: 'Playfair Display', serif; /* 5 */
}

/* Links should inherit their color and have no decoration by default */
a {
	color: inherit;
	text-decoration: none;
}

/***************************************/
/**************** LAYOUT ***************/
/***************************************/

/*
 * 1. Create a blue header (style-only)
 * 2. By default, center the content
 * 3. Let the padding count in the size for further changes
 */
.header {
	background-color: #0069b4; /* 1 */
	color: white; /* 1 */
	min-height: 35rem; /* 1 */

	text-align: center; /* 2 */

	padding-bottom: 1rem; /* 3 */
	box-sizing: border-box; /* 3 */
}

/* Add some spacing between the top and the title */
.header.header--main {
	padding-top: 4rem;
}

/* Center the navbar at 80% center (width) */
.header__nav {
	position: relative;
	
	width: 80%;
	left: 10%;
}

/* On mobile, centering is automatic */
.header__nav .nav__container {
	justify-content: space-between;
}

/* Add a smooth color transition */
.header__nav .nav__container__item, .footer__nav .nav__container__item {
	transition: color 200ms ease-out;
}

/* For accessibility and mobiles, add a visual effect on links */
.header__nav .nav__container__item__link:focus, .header__nav .nav__container__item:hover,
	.footer__nav .nav__container__item__link:focus, .footer__nav .nav__container__item:hover {
	color: #e84393;
}

/* Remove the link decoration from the title */
.header__title a {
	color: inherit;
	text-decoration: none;
}

/* Resize the title and links so that they take the same space */
.header__title, .header__nav .nav__container, .footer__nav .nav__container {
	font-size: 2rem;
	padding-top: 1em;
	margin: 0;
}

/* Add spacing from the description */
.header__desc {
	margin-bottom: 1.8em;
}

/*
 * 1. Center the header at 70% center
 * 2. Center the text
 * 3. Add a bit of space between the navbar and the header
 */
.header__article {
	position: relative; /* 1 */
	width: 70%; /* 1 */
	left: 15%; /* 1 */

	text-align: center; /* 2 */

	margin-top: 5rem; /* 3 */
}

/* Make the title bolder */
.header__article__title, .header--main .header__title {
	font-weight: bolder;
	font-size: 2.8em;
}

/* Display the datetime in italic */
.header__article__date {
	font-style: italic;
}

/* Set the article's style */
.header__article, .main {
	font-size: 1.2em;
}

/*
 * 1. Add some style
 * 2. Justify the content
 * 3. Correct the gap for small displays
 */
.main {
	background-color: white; /* 1 */
	text-align: justify; /* 2 */

	box-sizing: border-box; /* 3 */
	padding: 4rem 2rem; /* 3 */
}

/* Titles shouldn't be jutified */
.main h1, .main h2, .main h3,
  .main h4, .main h5, .main h6 {
	text-align: left;
}

/*
 * Rewrite custom titles since their order has been altered
 * Follow Firefox standard with very few modifications.
 * h1 : 2em => h3 : 2em
 */
.main h3 {
	font-size: 2em;
	margin: .67em 0;
}

/* h2 : 1.5em => h4 : 1.6em */
.main h4 {
	font-size: 1.6em;
	margin: .83em 0;
}

/* h3 : 1.19em => h5 : 1.2em */
.main h5 {
	font-size: 1.2em;
	margin: 1em 0;
}

/* h4 : 1em => h6 : 1em (default rule) */
.main h6 {
	margin: 1.33em 0;
}

/*
 * 1. Center the element
 * 2. Increase the size of the text
 */
.pagination {
	text-align: center; /* 1 */
	font-size: 1.2em; /* 2 */
}

/* Space the elements */
.pagination a, .pagination span:not(:first-child) {
	margin-left: 1rem;
}

/* Allow absolute positionning */
.article {
	position: relative;
}

/* Color links in rose */
.article a, .article__more__link {
	color: #e84393;
	transition: color 200ms ease-out;
}

/* On hover, trigger a simple animation in color */
.article a:hover, .article a:focus {
	color: #0069b4;
}

/* Allow table scrolling on mobile devices */
.article .table-wrapper {
	overflow-x: auto;
}

/*
 * 1. Align the table itself
 * 2. Center the content inside the table
 * 3. Make inside borders collasping
 */
.article table {
	margin: auto; /* 1 */

	text-align: center; /* 2 */
	vertical-align: center; /* 2 */

	border-collapse: collapse; /* 3 */
}

/*
 * 1. Add some spacing
 * 2. Prevent spacing bugs from border animation
 */
.article td, .article th {
	padding: .7rem; /* 1 */
	box-sizing: border-box; /* 2 */
}

/*
 * 1. Add a pink border to the table header (style)
 * 2. Remove the grey background from nth-child(odd)
 */
.article tr th {
	border-bottom: .2rem solid #e84393;
	background-color: white;
}

/* Prepare visual indicator on hover */
.article tr td {
	border-bottom: .2rem solid transparent;
}

/* Add blue visual indicator on hover */
.article tr:hover td, .article tr:hover th {
	border-bottom-color: #0069b4;
}

/* Once for two rows, make the background grey */
.article tr:nth-child(odd) {
	background-color: #dddddd;
}

/*
 * 1. Create a line
 * 2. Position the element under the article, at the center
 * 3. Add some basic style
 * 4. Add spacing between articles
 */
.article:not(:last-child):after {
	content: ''; /* 1 */
	display: block; /* 1 */
	width: 20%; /* 1 */
	height: .1rem; /* 1 */

	position: relative; /* 2 */
	left: 40%; /* 2 */

	background-color: black; /* 3 */

	margin: 2rem 0; /* 4 */
}

/* Put the element on the right */
.article__more {
	text-align: right;
}

/* Add a visual sign after read more links */
.article__more__link:after {
	content: ' >';
}

/* Create a blue footer (style-only) */
.footer {
	background-color: #0069b4;
	color: white;
	height: 10rem;
}

/*
 * 1. Put the footer content at the bottom of the footer itself
 * 2. Allow the links to take the entire available space
 */
.footer__nav {
	position: absolute; /* 1 */
	bottom: 1rem; /* 1 */

	left: 0; /* 2 */
	right: 0; /* 2 */
}

/***************************************/
/*************** MODULES ***************/
/***************************************/

/*
 * 1. Display links as a flex-row
 * 2. Reset padding to get good underline animation
 * 3. Center the elements using flexbox
 */
.nav__container {
	display: flex; /* 1 */
	list-style: none; /* 1 */

	padding: 0; margin: 0; /* 2 */
	padding-bottom: 1.6rem; /* 2 */

	justify-content: center; /* 3 */
	align-items: center; /* 3 */
}

/* Add some space between scrolled links */
.nav.nav--mobilescroll .nav__container__item {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

/* Allow absolute positionning in items */
.nav__container__item {
	position: relative;
}

/* Remove separators on column display */
.nav.nav--mobilevertical .nav__container__separator {
	display: none;
}

/* Mobile disposition: scroll horizontally */
.nav.nav--mobilescroll {
	overflow-x: auto;
	overflow-y: hidden;
}

/* For horizontal scroll, we need to not center the elements */
.nav.nav--mobilescroll .nav__container {
	justify-content: space-between;
}

/* Mobile disposition: change from row to column */
.nav.nav--mobilevertical .nav__container {
	flex-direction: column;
}

@media screen and (min-width: 720px) {
	/*
	 * 1. Position the header on the top
	 * 2. Let the header take the entire width available
	 * 3. Increase the size on desktop
	 */
	.header {
		position: absolute; /* 1 */
		top: 0; /* 1 */
	
		left: 0; right: 0; /* 2 */
		z-index: 10; /* 2 */

		min-height: 44.2rem; /* 3 */
	}

	/* Align on the left of the navbar */
	.header__nav__left {
		display: inline-block;
		position: absolute;
		left: 0;
	}

	/* Align on the right of the navbar */
	.header__nav__right {
		display: inline-block;
		position: absolute;
		right: 0;
	}

	/* Remove color change on desktop */
	.header__nav .nav__container__item:hover {
		color: white;
	}

	/*
	 ** Add an animation under links
	 * 1. Create a rectangle
	 * 2. Position the element under the link, at the center
	 * 3. Add some basic style
	 */
	.header__nav .nav__container__item:after {
		content: ''; /* 1 */
		display: block; /* 1 */
		width: 2rem; /* 1 */
		height: .2rem; /* 1 */

		position: absolute; /* 2 */
		bottom: -.6rem; /* 2 */
		left: calc(50% - 1rem); /* 2 */

		background-color: white; /* 3 */
		transition: transform 200ms ease-out; /* 3 */
	}

	/* Add an animation to the block under links */
	.header__nav .nav__container__item:hover:after {
		transform: rotate(180deg);
	}

	/* On desktop, the header can take more space */
	.header__article {
		margin-top: 10rem;
	}

	/*
	 * 1. Position the content on top of the header
	 * 2. Center the content at 80% center
	 * 3. Add some style
	 */
	.main {
		position: relative; /* 1 */
		z-index: 50; /* 1 */

		left: 13%; /* 2 */
		width: 74%; /* 2 */
		padding: 3%; /* 2 */

		top: 34.8rem; /* 3 */
		box-shadow: 0 0 1.5rem rgb(170, 168, 168); /* 3 */
	}

	/*
	 * 1. Position the footer at the bottom of the page (!)
	 * 2. Let the footer take the entire width available
	 */
	.footer {
		position: absolute; /* 1 */
		bottom: -44.2rem; /* 1 */

		left: 0; right: 0; /* 2 */
		z-index: 10; /* 2 */

		height: 20rem; /* 2 */
	}

	/* Add some space between all the links */
	.nav__container__item {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}

	/* Desktop compensation: remove column orientation if we have a big screen */
	.nav.nav--mobilevertical .nav__container {
		flex-direction: row;
	}

	/* Desktop compensation: recenter the elements */
	.nav.nav--mobilescroll .nav__container {
		justify-content: center;
	}

	/* Desktop compensation: add separators on column display */
	.nav.nav--mobilevertical .nav__container__separator {
		display: inline-block;
	}
}
